node_modules
.env
hardhat.config
test

# Hardhat files
/cache
/artifacts
/test

# TypeChain files
/typechain
/typechain-types

# solidity-coverage files
/coverage
/coverage.json

# Hardhat Ignition default folder for deployments against a local node
ignition/deployments/chain-31337
